@import "tailwindcss";

@theme {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --color-primary: #2B525F;
  --color-accent: #65D6CE;
  --color-cream: #F1EEE0;
  --color-soft-teal: #E8F1F2;
}

@layer base {
  body {
    @apply font-sans text-gray-900 antialiased bg-soft-teal/30;
  }
}
